@use 'node_modules/bootstrap/scss/bootstrap.scss';
@use './partials/variables' as *;

header{

        nav{
            background-color: $dc_light;
        }
        img{
            padding: 0.5rem 0;
        }
        li{
            font-size: 0.85rem;
            padding: 0 0.5rem;
            height: 100%;
            a{
                color: $dc_dark;
            }
        }
        li.active{
            border-bottom: 5px solid $dc_primary;
        }

}

main{
    background-color: $dc_dark;
    color: $dc_light;
    padding: 8rem 0;
}


footer{
    color: $dc_light;
    .pre_footer{
        background-color: $dc_primary;
        img{
            width: 50px;
            max-height: 64px;
            
        }
    }
    h5{
        color: $dc_light;
        font-size: 0.75rem;
    }
    ul{
        list-style: none;
        padding-left: 0;
       li{
        font-size: 0.75rem;
        color: $dc_gray;
       } 
    }
    .footer_top{
        background-image: url('/public/img/footer-bg.jpg');
        .col-8{
            z-index: 100;
            background: url('./src/assets/images/dc-logo-bg.png');
            background-repeat: no-repeat;
            background-position: 120px ;

        }
        .dc_logo_bg{
            width: 70%;
            height: 70%;
        }
    }
    .footer_bottom{
        width: 100%;
        background-color: $dc_darker_gray;
        padding: 3rem 0;
        button{
            color: $dc_light;
            &:hover{
                border: 1px solid $dc_primary;
            }
        }
        li{
            padding: 0 0.5rem;
        }
        h5{
            font-size: 1rem;
            color: $dc_primary;
        }
    }
}