@use 'node_modules/bootstrap/scss/bootstrap.scss';
@use './partials/variables' as *;

header{

        nav{
            background-color: $dc_light;
        }
        img{
            padding: 0.5rem 0;
        }
        li{
            font-size: 0.85rem;
            padding: 0 0.5rem;
        }

}

main{
    background-color: $dc_dark;
    color: $dc_light;
    padding: 2rem 0;
}


footer{
    color: $dc_light;
    .pre_footer{
        background-color: $dc_primary;
    }
    img{
        width: 50px;
        max-height: 64px;
        
    }
    h5{
        color: $dc_light;
        font-size: 0.75rem;
    }
    ul{
        list-style: none;
        padding-left: 0;
       li{
        font-size: 0.75rem;
        color: $dc_gray;
       } 
    }
    .footer_top{
        background-image: url('/public/img/footer-bg.jpg');
    }
}